temporary_directory: /var/tmp
remote_repository: <REMOTE_REPOSITORY_ADDRESS>
included_packages:
  common:
    - apt-transport-https
    - ca-certificates
  stretch:
    - python
  buster:
    # needed for ansible < 2.8
    #- python
    - python3
  bullseye:
    - ca-certificates
    - python3
  testing:
    - ca-certificates
    - python3
chroot_included_packages: []
