@local_repository = "<local-repository>"
@remote_repository = "<remote-repository>"

# @backend:
#   default: :docker
@backend = :buildah

#@ansible_playbook_common_args = "--ask-become-pass"

# parameter override examples
@override = {}
#@override[:all] = {}
#@override[:all][:container_build_args] = "--build-arg USER_UID=1025"

#@override[:image_name] = {}
#@override[:image_name][:container_build_args] = "--build-arg USER_UID=1025"
