%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Sample Configuration File.
%%
%% See http://www.rabbitmq.com/configure.html for details.
%% ----------------------------------------------------------------------------
[
 %% ----------------------------------------------------------------------------
 %% RabbitMQ Management Plugin
 %%
 %% See http://www.rabbitmq.com/management.html for details
 %% ----------------------------------------------------------------------------

 {rabbitmq_management,
  [
   {listener, [
               {port,     15672}
              ]
   },
   {http_log_dir, "/var/log/rabbitmq"}
  ]},

  {rabbit, [
    {log, [
      {console, [{enabled, true}, %% log.console
                 {level, debug}    %% log.console.level
      ]},
      {file, [{level, debug}]}
    ]},
    {log_levels, [{connection, debug}, {channel, debug}, {default, debug}]}
  ]}
].
